<div class="wrappar">
    <video [muted]="'muted'" autoplay loop>
        <source src="{{videoSource}}" type="video/mp4" />
        Browser not supported
    </video>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quaerat!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, animi, eum! Sequi ut explicabo distinctio sed quis
    voluptatum sunt dolorum, laudantium at quidem tempora quam praesentium, numquam. Beatae, officiis assumenda
    provident consequatur molestiae deserunt perspiciatis cupiditate sunt. Minus recusandae, necessitatibus, officiis,
    est eveniet veritatis provident a omnis, laborum incidunt iste.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis, sed vero aut rerum deleniti, cum
    eaque animi autem doloremque ipsam a iure consequuntur, corporis officia, aliquam libero mollitia. Beatae quia
    molestias, eligendi doloremque facere quae ad, temporibus provident tempore modi numquam possimus facilis quidem.
    Error quibusdam tenetur fuga temporibus nisi veritatis esse delectus, fugiat, consectetur magni ab sequi non
    molestias possimus magnam. At ut, veniam modi facere laborum reprehenderit a perspiciatis, reiciendis facilis magnam
    animi ratione autem. Veniam repellat iste a, dolores, quas sunt impedit molestias nostrum nam, sed sapiente ab
    maiores natus perferendis. Ducimus harum corrupti ipsam adipisci!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis, sed vero aut rerum deleniti, cum
    eaque animi autem doloremque ipsam a iure consequuntur, corporis officia, aliquam libero mollitia. Beatae quia
    molestias, eligendi doloremque facere quae ad, temporibus provident tempore modi numquam possimus facilis quidem.
    Error quibusdam tenetur fuga temporibus nisi veritatis esse delectus, fugiat, consectetur magni ab sequi non
    molestias possimus magnam. At ut, veniam modi facere laborum reprehenderit a perspiciatis, reiciendis facilis magnam
    animi ratione autem. Veniam repellat iste a, dolores, quas sunt impedit molestias nostrum nam, sed sapiente ab
    maiores natus perferendis. Ducimus harum corrupti ipsam adipisci!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias blanditiis, sed vero aut rerum deleniti, cum
    eaque animi autem doloremque ipsam a iure consequuntur, corporis officia, aliquam libero mollitia. Beatae quia
    molestias, eligendi doloremque facere quae ad, temporibus provident tempore modi numquam possimus facilis quidem.
    Error quibusdam tenetur fuga temporibus nisi veritatis esse delectus, fugiat, consectetur magni ab sequi non
    molestias possimus magnam. At ut, veniam modi facere laborum reprehenderit a perspiciatis, reiciendis facilis magnam
    animi ratione autem. Veniam repellat iste a, dolores, quas sunt impedit molestias nostrum nam, sed sapiente ab
    maiores natus perferendis. Ducimus harum corrupti ipsam adipisci!</p>