<section class="top-nav">
    <div>
      Signalit Film
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Kezdőlap</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active" ariaCurrentWhenActive="page">Galéria</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active" ariaCurrentWhenActive="page">Rólam</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active" ariaCurrentWhenActive="page">Kapcsolat</a></li>
    </ul>
  </section>